*.zip filter=lfs diff=lfs merge=lfs -text
*C:/Users/Lorenz/OneDrive/Desktop/sysarch filter=lfs diff=lfs merge=lfs -text
lab filter=lfs diff=lfs merge=lfs -text
act filter=lfs diff=lfs merge=lfs -text
*sysarch[[:space:]]lab[[:space:]]act filter=lfs diff=lfs merge=lfs -text
*graphql-movie-api filter=lfs diff=lfs merge=lfs -text
